/* default css start */

/*SUAVIZAÇÃO DE ROLAGEM - INÍCIO*/
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

:target {
  scroll-margin-top: .8em;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
 
:target {
  scroll-margin-top: .8em;
}
/*SUAVIZAÇÃO DE ROLAGEM - FIM*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.header-area {
  background: linear-gradient(rgba(4,116,178,100), rgba(82,153,211,60));  
  background-position: center center;
  background-size: cover;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
/* default css end */

/* navbar regular css start */
.navbar-area {
  background: #3a4349;
  border-bottom: 1px solid #333a3f;
  position: fixed;
  width: 100%;
  z-index: 3;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-logo{
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
}
a.site-titulo {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #edf2f4;
  text-decoration: none;
  text-align: center;
  margin-left: 70px;
  position: absolute;
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #edf2f4;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.site-navbar ul li a:hover {
  background: rgba(255,255,255,.1);
}
/* navbar regular css end */


/* nav-toggler css start */
.nav-toggler {
  border: 3px solid #edf2f4;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span, 
.nav-toggler span:before, 
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #edf2f4;
  display: block;
  transition: .3s;
}
.nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */


/* intro-area css start */
.intro-area {
  height: calc(50vh - 11px);
  display: flex;
  align-items: center;
  text-align: center;
  color: #edf2f4;
}
.intro-area h2 {
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 25px;
}
.intro-area p {
  font-size: 18px;
  padding-right: 250px;
  padding-left: 250px;
}
/* intro-area css end */

/*Main-area CSS - Início*/
main {
  width: 100%;
  padding: 0;
  margin: 0;
  color: #edf2f4;
  position: relative;
}

.texto-apresentacao {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 50px;
  color: #3a4349;
  line-height: 1.5;
  font-size: 12pt;
}

.calculadores-area {
  background-color: #455057;
  width: 100%;
  max-width: 100%;
  height: 900px;
  margin: 0;
  padding: 50px;
  color: #edf2f4;
  line-height: 1.5;
  font-size: 12pt;
}
/*CONTATO AREA - INÍCIO*/
.contato-area {
  background-color: #5f6d75;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 50px;
  color: #edf2f4;
  line-height: 1.5;
  font-size: 12pt;
}

.form-cont-centered {
  position: relative;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 50%; 
}

input,
textarea,
.but-enviar {
  background-color: #333a3f;
  margin-bottom: 8px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  width: 100%;
}

input,
textarea {
  padding: 10px;
}

input, .but-enviar {
  height: 40px;
}

.but-enviar {
  cursor: pointer;
  background-color: #25d366;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 48px;
}

button img {
  margin-right: 8px;
}

a {
  color: #edf2f4;
}
/*CONTATO AREA - FIM*/

/*Main-area CSS - Fim*/

/*Footer-area CSS - Início*/

footer {
  background-color: #3a4349;
  color: #edf2f4;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: unset;
  width: 100%;
}
/*Footer-area CSS - Fim*/

/* mobile breakpoint start */
@media screen and (max-width: 1200px){
  .container {
    max-width: 1200px;
  }
  /* navbar css for mobile start */
  .nav-toggler{
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: rgba(0,0,0,.75);
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255,255,255,.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  a.site-titulo{
    max-height: 100vh;
    margin-left: 70px;
  }
  .intro-area h2 {
    max-height: 100vh;
    font-size: 40px;
    margin-bottom: 20px;
  }  
  .intro-area p {
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1.5;
  /* navbar css for mobile end */
  }
  main {
    width: auto;
    font-size: 18px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
/* mobile breakpoint end */